@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  
  
  



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: grey !important;
  
}
.nav-link{
  color: white !important;
  
  
}

.navbar-brand{
  color: white !important;
  
}
.navbar-nav{
  margin-left: auto !important;
}

.smallimg{
  height: 200px;
  width: 100% !important;
  border-radius: 5px;

}
h1{
  font-size: 20px !important;
}
.btn{
background-color: gray;
color: white !important;
box-shadow: grey !important;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important; 
}

.bigimg{
  height: 400px;
  border-radius: 5px !important;
}

.gg-home-alt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px
 }
 
 .gg-home-alt::after,
 .gg-home-alt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 
 .gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0
 }
 
 .gg-home-alt::after {
  width: 6px;
  height: 10px;
  background: currentColor;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 4px;
  bottom: -2px
 } 

