@import url("https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary-color: #6c757d; /* Grauer Farbton */
  --hover-color: #5a6268; /* Dunklerer Grauton für Hover-Effekt */
  --border-radius: 5px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Hintergrund-Animations-Keyframes */
@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #273036, #6e5977, #422926, #413916);
  background-size: 400% 400%;
  animation: backgroundAnimation 15s ease infinite;
}
p{
  font-size: 20px !important;
}

/* In Ihrer globalen CSS-Datei */
.ant-tabs-tab-btn{
  font-size: 20px !important;
}
.text-right {
  display: flex;
  justify-content: flex-end;
}









.navbar {
  background-color: red(--primary-color) !important;
}

.nav-link, .navbar-brand {
  justify-content: center;
  font-size:xx-large;
  color: white !important;
  transition: color 0.3s;
}

.nav-link:hover, .navbar-brand:hover {
  color: var(--hover-color) !important;


}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg, .bigimg {
  width: 100% !important;
  border-radius: var(--border-radius);
}

.smallimg {
  height: 200px;
}

.bigimg {
  height: 400px;
}

.btn {
  
  background-color: rgb(204, 173, 173);
  color: white !important;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  /* transition: background-color 0.3s, box-shadow 0.3s; */
}
.btn.btn-primary{
  
  border-color:var(--primary-color)
}

.btn:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow) !important;
}

.bs {
  background-color: white;
  box-shadow: var(--box-shadow);
  margin-top: 20px !important;
  border-radius: var(--border-radius);
  padding: 20px !important;
}

.gg-home-alt {
  /* ... (Keine Änderungen in diesem Bereich) ... */
}

input, select, .ant-picker {
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  
  border: 1px solid black !important;
  width:100% !important;
  border-radius: var(--border-radius);
  height: 45px !important;
  transition: border-color 0.3s;
}

input:focus, select:focus, .ant-picker:focus {
  border-color: var(--hover-color) !important;
}

h1, h2 {
  text-align: left;
  font-weight: bold ;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 30px ;
  padding: 10px;
}

.dropdown-toggle {
  border: 0px solid grey !important;
}

.ant-picker-input input {
  border: none !important;
}


/* Startscreen.css */
.start {
  height: 100vh; /* Volle Bildschirmhöhe */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; /* Schwarzer Hintergrund */
  color: white; /* Weiße Schrift */
}

.animated-title {
  font-size: 2rem; /* Startgröße */
  animation: growTitle 2s ease-in-out forwards; /* Animation */
}

@keyframes growTitle {
  from { font-size: 2rem; }
  to { font-size: 10rem; } /* Endgröße */
}

/* Der Button behält sein ursprüngliches Design */

