@import url("https://unpkg.com/css.gg@2.0.0/icons/css/home-alt.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary-color: #6c757d; /* Grauer Farbton */
  --hover-color: #5a6268; /* Dunklerer Grauton für Hover-Effekt */
  --border-radius: 5px;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Hintergrund-Animations-Keyframes */
@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #3498db, #6e5977, #e74c3c, #ecd163);
  background-size: 400% 400%;
  animation: backgroundAnimation 15s ease infinite;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.nav-link, .navbar-brand {
  color: white !important;
  transition: color 0.3s;
}

.nav-link:hover, .navbar-brand:hover {
  color: var(--hover-color) !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg, .bigimg {
  width: 100% !important;
  border-radius: var(--border-radius);
}

.smallimg {
  height: 200px;
}

.bigimg {
  height: 400px;
}

.btn {
  background-color: var(--primary-color);
  color: white !important;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: var(--hover-color);
  box-shadow: var(--box-shadow) !important;
}

.bs {
  box-shadow: var(--box-shadow);
  margin-top: 20px !important;
  border-radius: var(--border-radius);
  padding: 20px !important;
}

.gg-home-alt {
  /* ... (Keine Änderungen in diesem Bereich) ... */
}

input, select, .ant-picker {
  box-shadow: none !important;
  margin-top: 10px;
  border: 1px solid black !important;
  width: 100% !important;
  border-radius: var(--border-radius);
  height: 35px !important;
  transition: border-color 0.3s;
}

input:focus, select:focus, .ant-picker:focus {
  border-color: var(--hover-color) !important;
}

h1, h2 {
  text-align: center;
  font-weight: bold !important;
}

h1 {
  font-size: 20px !important;
}

h2 {
  font-size: 30px !important;
  padding: 10px;
}

.dropdown-toggle {
  border: 0px solid grey !important;
}

.ant-picker-input input {
  border: none !important;
}
